{% extends 'base.html.twig' %}
{% block corpDuDocument %}
<!-- ======= Services Section ======= -->
<section id="services" class="services" style="margin-top: 50px;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>Nos Services</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="">CONSEIL</a></h4>
          <p>Le conseil et l’accompagnement avant-vente dans les choix en termes d’architectures, de solutions et de services, en adéquation avec les métiers de nos clients.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">INGÉNIERIE</a></h4>
          <p>Service d’installation et d’implémentation de nos solutions par une équipe d’experts : Chefs de projets, ingénieurs et techniciens, tous spécialisés et certifiés solutions et produits.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">MAINTIEN EN CONDITION OPÉRATIONNELLE</a></h4>
          <p>Service de maintenance durant la période de garantie sur site qui peut aller selon le contrat client jusqu’à 24h/7j.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start aos-init aos-animate" data-aos="fade-right" data-aos-delay="100"></div>
      <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
        <div class="content d-flex flex-column justify-content-center">
          <h3>Voici quelque numéro</h3>
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="560" data-purecounter-duration="2" class="purecounter"></span>
                <p><strong>Happy Clients</strong> </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="470" data-purecounter-duration="2" class="purecounter"></span>
                <p><strong>Projects</strong> </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock"></i>
                <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                <p><strong>Years of experience</strong> </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                <p><strong>Awards</strong> </p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Counts Section -->

{% endblock %}
